.main {
	height: 100vh;
	background: #333;
	display: flex;
	align-items: center;
	justify-content: center;
}


.pane {
	width: 500px;
	box-sizing: border-box;
	height: 100vh;
	padding: 0px;
	overflow-y: scroll;
	background: #ccc;
	margin-left: 100px;
}

.pane > * {
	margin-left: 10px;
}

.preview {
	width: 640px;
	height: 360px;
	display: flex;
	background-color: rgba(0, 177, 64);
}

.alpha {
	width: 640px;
	height: 360px;
	display: flex;
	background: #000;
}

.alpha > div {
	filter: brightness(0%) invert(1);
}

.previews {
	color: #fff;
	font-family: Arial;
}

.previews .preview, .previews .alpha {
	margin: 10px 0px 20px;
}